/* img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  } */

  .center-elements p  {
    text-align:center
  }

  .center-elements p img {
    margin:auto
  }

  p a {
text-decoration: none !important;
  }

  .patent-info article{
    padding-top: 10px; padding-left: 15px; padding-right: 15px;
    margin-top: 1px;
  }

  .patent-info p{
    margin-top: 1px !important;
  }

  /* img{
    transform: rotate(90deg);
  } */
  .img-rt{
    transform: rotate(90deg);
  }