---
import Layout from '~/layouts/PageLayout.astro';
import FAQsInnerpage from '~/components/widgets/FAQsInnerpage.astro';
import { Schema } from 'astro-seo-schema';
const metadata = {
  title: 'Frequently Asked Questions - Intellectual Frontiers',
  description:
    'Find answers to common questions about patents for sale and licensing on Intellectual Frontiers. Explore our FAQs for information on technology innovation, our services, policies, and more.',
  ignoreTitleTemplate: true,
  openGraph: {
    type: 'website',
    images: [
      {
        url: '/images/og-images/faqs.webp',
        width: 1200,
        height: 628,
      },
    ],
  },
};
---

<Layout metadata={metadata}>
  <Schema
    item={{
      '@context': 'https://schema.org',
      '@type': 'FAQPage',
      mainEntity: [
        {
          '@type': 'Question',
          name: 'What types of patents are included in Intellectual Frontiers’ portfolio?',
          acceptedAnswer: {
            '@type': 'Answer',
            text: 'Our portfolio spans a diverse range of industries. It includes breakthrough patents in various high-growth areas, offering innovative solutions and cutting-edge technology applicable across multiple sectors.',
          },
        },
        {
          '@type': 'Question',
          name: 'What is the process for acquiring a patent from Intellectual Frontiers?',
          acceptedAnswer: {
            '@type': 'Answer',
            text: 'To initiate the acquisition process, simply contact us through our website. Our team will guide you through the necessary steps, including discussions on licensing terms, pricing, and any other specific requirements you may have.',
          },
        },
        {
          '@type': 'Question',
          name: 'What support does IntellectualFrontiers.com offer after a patent is acquired?',
          acceptedAnswer: {
            '@type': 'Answer',
            text: 'Post-acquisition, we provide comprehensive support including legal documentation, transfer processes, and, if needed, consultation on implementation and development. Our goal is to ensure a smooth transition and successful integration of the patent into your business operations.',
          },
        },
        {
          '@type': 'Question',
          name: 'How can I explore the specific patents available for acquisition?',
          acceptedAnswer: {
            '@type': 'Answer',
            text: 'You can easily browse our patent listings on our website. Each listing is accompanied by a detailed profile, including descriptions, potential applications, and visual aids, to help you understand the full potential of each patent.',
          },
        },
        {
          '@type': 'Question',
          name: 'Can IntellectualFrontiers.com assist in understanding how a specific patent can be integrated into my business?',
          acceptedAnswer: {
            '@type': 'Answer',
            text: 'Absolutely. Our expert team is available to discuss how our patents can be adapted to your business needs, offering insights into practical applications and integration strategies.',
          },
        },
      ],
    }}
  />
  <FAQsInnerpage
    title="Frequently Asked Questions"
    subtitle=""
    tagline=""
    classes={{ container: 'max-w-6xl' }}
    items={[
      {
        title: 'What types of patents are included in Intellectual Frontiers’ portfolio?',
        description:
          'Our portfolio spans a diverse range of industries. It includes breakthrough patents in various high-growth areas, offering innovative solutions and cutting-edge technology applicable across multiple sectors.',
      },
      {
        title: 'How can I explore the specific patents available for acquisition?',
        description:
          'You can easily browse the listings of <a href="/patents" class="hover:underline text-[#214EA2]">patents for sale</a> on our website. Each listing is accompanied by a detailed profile, including descriptions, potential applications, and visual aids, to help you understand the full potential of each patent.',
      },
      {
        title: 'What is the process for acquiring a patent from Intellectual Frontiers?',
        description:
          'To initiate the acquisition process, simply contact us through our website. Our team will guide you through the necessary steps, including discussions on licensing terms, pricing, and any other specific requirements you may have.',
      },
      {
        title:
          'Can IntellectualFrontiers.com assist in understanding how a specific patent can be integrated into my business?',
        description:
          'Absolutely. Our expert team is available to discuss how our patents can be adapted to your business needs, offering insights into practical applications and integration strategies.',
      },
      {
        title: 'What support does IntellectualFrontiers.com offer after a patent is acquired?',
        description:
          'Post-acquisition, we provide comprehensive support including legal documentation, transfer processes, and, if needed, consultation on implementation and development. Our goal is to ensure a smooth transition and successful integration of the patent into your business operations.',
      },
    ]}
  />
</Layout>
