/* ---- */
html {
  font-family: 'inter Variable', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol', 'Noto Color Emoji' !important;
}
.\32xl\:text-\[20px\] {
  font-size: inherit !important;
}
.bg-base-200 {
  background-color: #f2f2f2;
}
.bg-base-100 {
  background-color: #ffffff;
}
.card {
  position: relative;
  display: flex;
  flex-direction: column;
  border-radius: var(--rounded-box, 1rem);
}
.hero-content {
  z-index: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 80rem;
  gap: 1rem;
  padding: 1rem;
}
.swap input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.swap > * {
  grid-column-start: 1;
  grid-row-start: 1;
  transition-duration: 0.3s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: transform, opacity;
}
.swap {
  position: relative;
  display: inline-grid;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  place-content: center;
  cursor: pointer;
}

.swap .swap-on,
.swap .swap-indeterminate,
.swap input:indeterminate ~ .swap-on {
  opacity: 0;
}
.swap input:checked ~ .swap-off,
.swap.swap-active .swap-off,
.swap input:indeterminate ~ .swap-off {
  opacity: 0;
}
.swap input:checked ~ .swap-on,
.swap-active .swap-on,
.swap input:indeterminate ~ .swap-indeterminate {
  opacity: 1;
}

.range {
  height: 1.5rem;
  width: 100%;
  cursor: pointer;
  /* -moz-appearance: none;
  appearance: none;
  -webkit-appearance: none;
  --range-shdw: rgba(0, 0, 0, 0.5); */
  overflow: hidden;
  background-color: transparent;
  border-radius: 1rem;
}
.range-xs {
  height: 1rem;
}
.btn-circle {
  height: 3rem;
  width: 3rem;
  border-radius: 9999px;
  padding: 0;
}
.dropdown-top .dropdown-content {
  bottom: 100%;
  top: auto;
  transform-origin: bottom;
}
.dropdown-end .dropdown-content {
  right: 0;
}
.dropdown .dropdown-content {
  position: absolute;
}
.dropdown:is(:not(details)) .dropdown-content {
  visibility: hidden;
  opacity: 0;
  border-radius: 10px;
}
.dropdown .dropdown-content {
  visibility: visible;
  opacity: 0;
  transition:
    opacity 0.2s ease,
    visibility 0.2s ease;
}
.dropdown.dropdown-open .dropdown-content,
.dropdown:focus-within .dropdown-content {
  visibility: visible;
  opacity: 1;
}
.dropdown.dropdown-hover:hover .dropdown-content {
  visibility: visible;
  opacity: 1;
}
.dropdown-content {
  top: 100%; /* Place the dropdown below the button */
  left: auto;
  right: 0; /* Align to the right end of the button */
}
.menu li > *:not(ul):not(details):active,
.menu li > *:not(ul):not(details).active,
.menu li > details > summary:active {
  --tw-bg-opacity: 1;
  background-color: #333;
  color: #bdbdbd;
}
.menu li > details > summary {
}
.menu :where(li:not(.menu-title) > *:not(ul):not(details):not(.menu-title)),
.menu :where(li:not(.menu-title) > details > summary:not(.menu-title)) {
  display: grid;
  grid-auto-flow: column;
  align-content: flex-start;
  align-items: center;
  gap: 0.5rem;
  grid-auto-columns: max-content auto max-content;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 5px;
}
