.aw-link-active{
    color: #214ea2;
}
.hoverTextMenu:hover{
    color: #214ea2;
}


.hoverTextMenu{position: relative;}
.hoverTextMenu:after{content: ''; position: absolute; bottom: 0.5rem; width: 0; height: 2px ; background-color: #214ea2; left: 1rem;  right: 1rem; transition: 0.5s ease-in-out; text-align: center !important;}
.hoverTextMenu:hover:after{width: calc(100% - 2rem); }