---
import Layout from '~/layouts/Layout.astro';
import Header from '~/components/widgets/Header.astro';
import Footer from '~/components/widgets/Footer.astro';
// import Announcement from '~/components/widgets/Announcement.astro';
import { Breadcrumbs } from 'astro-breadcrumbs';
import '../assets/styles/astro-breadcrumbs-config.scss';
import { headerData, footerData } from '~/navigation';
import type { MetaData } from '~/types';

export interface Props {
  metadata?: MetaData;
  hideBreadcrumbs?: boolean;
}

const { metadata, hideBreadcrumbs } = Astro.props;
---

<Layout metadata={metadata}>
  <!-- <slot name="announcement">
    <Announcement />
  </slot> -->
  <slot name="header">
    <Header {...headerData} isSticky showRssFeed showToggleTheme />
  </slot>
  <!-- Check if the breadcrumb needs to be hidden -->
  {
    !hideBreadcrumbs && (
      <div style="margin-top:50px" class="z-30 relative max-w-6xl mx-auto px-4 sm:px-4">
        <Breadcrumbs
          trailingSlash={false}
          ariaLabel="Site navigation"
          truncated={true}
          ellipsisAriaLabel="Show more breadcrumbs"
        >
          <svg
            slot="separator"
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0  0  24  24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <polyline points="9  18  15  12  9  6" />
          </svg>
        </Breadcrumbs>
      </div>
    )
  }
  <button
    id="to-top-button"
    onclick="goToTop()"
    title="Go To Top"
    class="hidden fixed z-50 bottom-10 right-10 p-4 border-0 w-14 h-14 rounded-full shadow-md bg-sky-600 hover:bg-sky-700 text-white text-lg font-semibold transition-colors duration-300"
  >
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6">
      <path d="M12 4l8 8h-6v8h-4v-8H4l8-8z"></path>
    </svg>
    <span class="sr-only">Go to top</span>
  </button>
  <main>
    <slot />
  </main>
  <slot name="footer">
    <Footer {...footerData} />
  </slot>
</Layout>
